.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  justify-self: center;
  text-align: center;
}

.nav{
display: flex;
flex-direction: column;
}
#navigation {
  margin-bottom: 2rem;
  
  justify-self: center;
  align-self: center;
}

#navigation button {
  align-items: center;
  justify-self: center;
  margin-right: 1rem;
  background: linear-gradient(#11b78e, #03b23d);
  padding: 0.4rem;
  border: 0px;
  cursor: pointer;
  /* border-radius: 0.5rem; */
}
/* #navigation button:active{
  background-color:;
} */
#navigation button:hover{
  background-color:  #032c55;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
  min-height: 300px;
}

button {
    min-width: 80px;
}
.card {
  box-shadow: 0px 2px 2px 0px;
  padding: 2rem 4rem;
}